<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Siparisler</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="../css/admin-style.css" />
</head>
<body>
    <script src="../js/admin.js"></script>
    
    <!-- Navbar -->
    <div class="navbar">
        <div class="menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div>
        <h1>BURGERCIM</h1>
        </div>
    
    </div>

    <div class="off-screen-menu">
        <ul>
            <span><li><a href="/admin/siparisler" class="menu-links">Siparişler</a></li></span>
            <span><li><a href="/admin/gunsonu" class="menu-links">Gün Sonu</a></li></span>
            <span><li><a href="/admin/urunayarlari" class="menu-links">Ürün Ayarları</a></li></span>
        </ul>
    </div>

</body>
</html>