<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>BURGERCIM </title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"/>
  <link rel="stylesheet" href="../css/users-style.css" />
</head>
<body>

  <script src="../js/users.js"></script>

     <!-- Sepet Ekranı -->

   <div class="off-screen-sepet">

      <div>
        <div>
          <h1>SEPET</h1>
        </div>

        <div>
          <h1>sepet içeriği</h1>
        </div>

        <div>
          <h1>Onayla</h1>
        </div>
      </div>
    
   </div>

  <!-- Navbar -->
  <div class="navbar">
    <h1>BURGERCIM</h1>
    <img src="https://cdn-icons-png.flaticon.com/512/34/34568.png" alt="Sepet" class="cart-icon"/>
  </div>



  <!-- Menü -->
  <div class="menu-section">
    <!-- Hamburgerler -->
    <h2 class="section-title">Hamburgerler</h2>
    <div class="menu-items">
      <div class="menu-item">
        <img src="Images/cheeseburger.png" alt="Cheeseburger">
        <p>Cheeseburger</p>
        <p class="price">120 TL</p>
      </div>
      <div class="menu-item">
        <img src="Images/SteakBurger-1.png" alt="Steak Burger">
        <p>Steak Burger</p>
        <p class="price">160 TL</p>
      </div>
    </div>

    <!-- Kızartmalar -->
    <h2 class="section-title">Kızartmalar</h2>
    <div class="menu-items">
      <div class="menu-item">
        <img src="Images/patates.png" alt="Patates Kızartması">
        <p>Patates Kızartması</p>
        <p class="price">50 TL</p>
      </div>
      <div class="menu-item">
        <img src="Images/sogan.png" alt="Soğan Halkası">
        <p>Soğan Halkası</p>
        <p class="price">55 TL</p>
      </div>
    </div>

    <!-- İçecekler -->
    <h2 class="section-title">İçecekler</h2>
    <div class="menu-items">
      <div class="menu-item">
        <img src="Images/kola.png" alt="Kola">
        <p>Kola</p>
        <p class="price">30 TL</p>
      </div>
      <div class="menu-item">
        <img src="Images/ice tea.png" alt="Ice Tea">
        <p>Ice Tea</p>
        <p class="price">35 TL</p>
      </div>
    </div>
  </div>

</body>
</html>
